/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin transition($time) {
  -webkit-transition: all $time;
     -moz-transition: all $time;
      -ms-transition: all $time;
          transition: all $time;
}

.title {
	text-align: center;
}

.user {
	height: 100vh;
	width: inherit;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #3498db;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.content {
	margin-top: 50px;
}

.books {
	margin-left: 10vw;
	margin-right: 10vw;
}

$bg-transition: 0s;

.book-info {
	background-color: #ECF0F1;
	border-radius: 20px 0px 0px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	cursor:pointer;
	@include transition($bg-transition);
}

.book-price {
	background-color: #2980B9;
	border-radius: 0px 20px 20px 0px;
	color: #ECF0F1;
	font-size: 50px;
	font-weight: 900;
	height: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor:pointer;
	@include transition($bg-transition);
}

.selected {
	background-color: #2ECC71;
}

.book-info *{
	cursor:pointer;
	@include transition($bg-transition);
}

.book {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #2C3E50;

	&:hover *:not(.progress):not(.progress-bar){
		background-color: #3498db;
	}
}

.book-disable {
	margin-top: 40px;
	margin-bottom: 40px;
}

.book-disable *{
	background-color: #95A5A6;
	cursor: not-allowed;
}

.book-disable .progress-bar{
	background-color: #4A4A4A;
}

.progress {
	margin-bottom: 0px;
	margin-top: 10px;
}

.avatar-container {
	text-align: center;
	top: 15vh;
	position: absolute;
}

.sum-container {
	width: 100%;
	text-align: center;
	top: 55vh;
	position: absolute;
	font-size: 36px;
	font-weight: 800;
}

#sum {
	font-size: 58px;
}

#avatar {
	width: 70%;
}

.checkout-container {
	top: 80vh;
	position: absolute;
	width: 70%;
}

#checkout {
	margin-left: 20%;
}

.modal-total {
	float: left;
}

#modal-sum {
	font-weight: 900;
	font-size: 20px;
}

#logo {
	height: inherit;
	top: 0;
}

.navbar-item {
	margin-right: 50px;
}

.navbar-disabled {
	color: #BDC3C7 !important;
	cursor: not-allowed !important;
}