<!DOCTYPE HTML>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/flat-ui.css">
</head>
<body>
	<p>
	  This is a Twig template
	</p>
	<p>
	  Rendering name attribute: <b>{{name}}</b>
	</p>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/flat-ui.js"></script>

</html>