.title {
	text-align: center;
}

.user {
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #3498db;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.content {
	margin-top: 50px;
}